<!DOCTYPE html>
<html>
<head>
  <title>Edit Student</title>
</head>
<body>
  <%- include('partials/navbar') %>

  <h1>Edit Student</h1>
  <!-- Edit student form will be displayed here -->
</body>
</html>
