<!-- list-students.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>List Students</title>
</head>
<body>
  <%- include('partials/navbar') %>

  <h1>List Students</h1>
  <a href="/">Home</a> <!-- Add this line to navigate back to the home page -->
  <!-- List of students will be displayed here -->
</body>
</html>
